/* Reset some default styles to ensure consistency */
body, h1, p, label, input, select, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 200%;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Update the CSS for text input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #999999;
    border-radius: 10px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #d4d3d3;
}

/* Update the CSS for the select element */
select {
    height: 35px;
    border: 1px solid #999999;
    border-radius: 10px;
    background-color: #d4d3d3;
}

.button-container {
    text-align: center;
}

button {
    background-color: #57b846;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', Arial, sans-serif;
}

button:hover {
    background-color: #141414;
}

p {
    margin-top: 10px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: smaller;
}
